@import "../../../App.css";


.loginpage{
    /* background-image: url("../../assets/images/background/login_bg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover; */
    height: calc(100vh);
}
.loginwrapper{
    position: absolute;
    top: 12vh;
    margin: 0px auto;
}
.logincontainer{
    background-color: var(--white);
}

.loginwrapper h1{
background-color: var(--darkblue);
text-align: center;
vertical-align: middle;
}

.loginwrapper h2{
    /* background-color: var(--darkblue); */
    text-align: center;
    font-family: 'Helvetica-Roman';
    font-size: var(--heading);
    color: var(--regular-grey);
    }
    
    .loginwrapper .form-control{
        /* border-bottom:#b7b7b7; */
        border:0px none ;
        border-bottom: 1px solid #b7b7b7 !important;
    }
    
    /* .form-check-input::before{
        content: '';
        height: 20px;
        width: 20px;
        border: 4px solid red;
        display: inline-block;
    } */

    