@import "../../../App.css";

.searcharea select {
  /* styling */
  color: var(--white);
  background-color: transparent;
  border: 0px none;
  border-left: 1px solid white;
  border-radius: 0px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 1.3em 3.5em 1.3em 2em;
  box-shadow: none;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* arrows */

  /* select.minimal { */
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1.8em + 2px),
    calc(100% - 15px) calc(1.8em + 2px), calc(100% + 2em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% + 2em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.searcharea .btn-primary {
  border-radius: 0;
  padding: 1em 2em;
  height: 100%;
}
.searcharea .btn-primary:hover{
  background-color: var(--lightblue);
}
.searcharea {
  font-family: var(--font-century);
  font-size: 10pt;
  box-shadow: var(--box-shadow);
}
.searcharea select:first-child{
  border-left: 0px none;
  
}